<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat x Channels Rapidly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>

<div class='container'>
    <div class='row border-bottom my-3 py-3'>
        <div class='col'>
            <h1 class='p-0 m-0'>Chat x Channels Rapidly</h1>
        </div>
    </div>
</div>
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

    
    
    
</body>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
        var loc=window.location;
        var msgInput=$("#id_message")
        var formData=$("#form")
        var chatHolder=$("#chat-items")
        var me=$("#myUsername").val;

        var wsStart='ws://'
        if (loc.protocol=='https:'){
            wsStart='wss://'
        }
        var endpoint=wsStart+loc.host+loc.pathname

        var socket = new ReconnectingWebSocket(endpoint)

        socket.onmessage = function(e) {
            //console.log('message',e)
            var chatDataMsg=JSON.parse(e.data)
            chatHolder.append("<li>"+chatDataMsg.message+" via "+chatDataMsg.username+"</li>")
        };

        socket.onopen = function(e) {
            console.log("open",e)
            formData.submit(function(event){
                event.preventDefault()
                var msgText= msgInput.val()
                //chatHolder.append("<li>"+msgText+"via"+me+"</li>")
                var finalData={
                    'message':msgText
                }
                socket.send(JSON.stringify(finalData))
                formData[0].reset()
            })
        }

        socket.onerror = function(e) {
            //console.log("error",e)
        }

        socket.onclose = function(e) {
            console.log('close',e)
        }  
    </script>
</html>