<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "html_files/lsstyles.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {

    $('#search').keyup(function() {
        //alert("Handler for .keyup() called.");

        $.ajax({
            type: "GET",
            url: "/search_status/",
            data: {
                'search_text': $('#search').val(),
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: searchSuccess,
            dataType: 'html'
        });
    });
});

function searchSuccess(data, textStatus, jqXHR) {
    $('#search-results').html(data)
}
</script>
	</head>
	<body>

		<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="padding-right:15em">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      
    
	
	<li class="nav-item active" style="padding-right:2em">
        <a class="nav-link" href='#'>about<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="padding-right:2em">
        <a class="nav-link" href='{% url 'firstweb:chat' %}'>Chat</a>
      </li>
      <li class="nav-item" style="padding-right:2em">
        <a class="nav-link" href='{% url 'firstweb:logout' %}'>logout</a>
      </li>
      <li class="nav-item" style="padding-right:2em">
        <a class="nav-link" href='{% url 'firstweb:profile' %}'>profile</a>
      </li>
	</ul>
  </div>
  
</nav>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href='{% url 'firstweb:chat' %}'style='width: 100px;'>Chat
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url 'firstweb:profile' %}'style='width: 100px;'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url 'firstweb:logout' %}'style='width: 100px;'>Logout</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

      
      <!--<input class="form-control col-lg-6 offset-lg-3" type="search" placeholder="Search" id="search">
      
      
      </div>-->
      <div class='container'>
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" id='search' class="form-control bg-light">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
          </div>
      

      <ul id="search-results">
      </ul>
    

    <!--<h3>Search</h3>
    <input type="text" id="search" name="search" />
    <ul id="search-results">
    </ul>-->


    
    

		
		<!--<a class='navbar-brand mynav' href="{%url 'ls' %}">College Selector</a>
		<ul class='nav navbar-nav navbar-right'>
				
					<li><a class='navbarr' href='#'>about</a></li>
					<li><a class='navbarr' href='{% url 'firstweb:logout' %}'>logout</a></li>
					<li><a class='navbarr' href='#'>profile</a></li>
					
				</ul>-->
	</body>
</html>      