<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "html_files/lsstyles.css" %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
      .cs{
        border-radius: 50%;
        width:150px;
        height:150px;
      }
    </style>
    <script type="text/javascript">
$(function () {
        $("#id_college").click(function () {
            if ($(this).is(":checked")) {
                $("#id_clgname").show();
				$("#id_clgcourse").show();
				$("#id_clgyear").show();
            } else {
                $("#id_clgname").hide();
				$("#id_clgcourse").hide();
				$("#id_clgyear").hide();
            }
        });
    });
</script>
	</head>
	<body>

		
    <!--<div class='container'>
    <div class='jumbotron'>
    <p style="font-size:20px">Name:</p>
    <h1>{{user.first_name}}</h1>
    <p style="font-size:20px">Username:</p>
    <h1>{{user.username}}</h1>
    <p style="font-size:20px">Email:</p>
    <h1>{{user.email}}</h1>
    <p style="font-size:20px">Age:</p>
    <h1>{{user.age}}</h1>
    
    {% if user.college %}
    <p style="font-size:20px">College Name:</p>
    <h1>{{user.clgname}}</h1>
    <p style="font-size:20px">College Year:</p>
    <h1>{{user.clgyear}}</h1>
    <p style="font-size:20px">College Course:</p>
    <h1>{{user.clgcourse}}</h1>
    {% endif %}
    </div>

    <input type="button" value="Click me">
    </div>-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"style='width: 100px;'>About
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url 'firstweb:profile' %}'style='width: 100px;'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url 'firstweb:logout' %}'style='width: 100px;'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class='container'>
    <h2>Change Password</h2>
    <div class='jumbotron'>
    <form method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class='btn btn-success' type='submit'>Change</button>
    </form>
    </div>
    </div>
    

      
    

    <!--<h3>Search</h3>
    <input type="text" id="search" name="search" />
    <ul id="search-results">
    </ul>-->


    
    

		
		<!--<a class='navbar-brand mynav' href="{%url 'ls' %}">College Selector</a>
		<ul class='nav navbar-nav navbar-right'>
				
					<li><a class='navbarr' href='#'>about</a></li>
					<li><a class='navbarr' href='{% url 'firstweb:logout' %}'>logout</a></li>
					<li><a class='navbarr' href='#'>profile</a></li>
					
				</ul>-->
	</body>
</html>